@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;  
​}
.header
{
    width: 100%;
    height: 100vh;
    background: rgb(46, 45, 45);
}
.side_nav
{
    width: 250px;
    height: 100%;
    background-color: black;
    position: fixed;
    top:0;
    left:0;
    padding-right: 40px;
    padding-left: 30px;
    padding-top: 150px;
}
.nav_links
{
    list-style-type: none;
    position: relative;
}
.nav_links li{
    padding: 20px 0;
}
.nav_links li a{
    color:#FF2F2F;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav_links li a img{
    font-size: 22px;
    margin-right: 20px;
}
.active
{
    transition: top 0.3s;
    background-color: #f4e9e9;
    width: 100%;
    height: 47px;
    position: absolute;
    left:0;
    top:3%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255,255,255,0.4);
    display: none;
}
.nav_links li:hover a{
color: #FF2F2F;
transition: 0.3s;
}
.nav_links li:hover ~.active
{
    display: block;
}
.nav_links li:nth-child(1):hover ~ .active
{
    top: 3%;
}
.nav_links li:nth-child(2):hover ~ .active
{
    top: 23%;
}
.nav_links li:nth-child(3):hover ~ .active
{
    top: 43%;
}
.nav_links li:nth-child(4):hover ~ .active
{
    top: 63%;
}
.nav_links li:nth-child(5):hover ~ .active
{
    top: 83%;
}
.logo-m
{
    display: none;
}

  #name
  {
    width: 50%;
    padding: 2px;
    border-bottom: 2px solid #f28f8f;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-left: 15px;
border-right: none;
    margin-bottom: 16px;
    resize: vertical;
    background: none;
  }
  #email
  {
    width: 50%;
    padding: 2px;
    border-bottom: 2px solid #f28f8f;
    border-radius: 4px;
    border-right: none;
    box-sizing: border-box;
    margin-top: 6px;
    margin-left: 19px;
    margin-bottom: 16px;
    resize: vertical;
    overflow: hidden;
    background: none;
  }
  #country
  {
    width: 50%;
    padding: 2px;
    border-bottom: 2px solid #f28f8f;
    border-right: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-left: 0px;
    margin-bottom: 16px;
    resize: vertical;
    background: none;
  }
  #subject
  {
    width: 50%;
    border-right: none;
    padding: 2px;
    border-bottom: 2px solid #f28f8f;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background: none;
  }
  input[type=submit] {
    background-color: #ff2f2f;
    margin-left: 300px;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  ​
  input[type=submit]:hover {
    background-color: #ff2f2f;
  }
  ​
  .container {
    border-radius: 5px;
    background-color: #FF2F2F;
    padding: 20px;
    padding-right: 50px;
  }
  .fblock
  {
    padding-top: 30px;
    padding-left: 300px;
    display: inline;
  }
@media only screen and (max-width: 600px)
{
    .side_nav
    {
        width: 110px;
    }
    .nav_links li a p{
        display: none;
    }
    .nav_links li a img{
        margin-right: 0 ;
    }
    .nav_links li a{
        justify-content: center;
    }
    .container
    {
        display: contents;
        font-size: 14px;
        padding-left: 120px;
    }
    .name,.email,.country,.sub
    {
        padding-left: 120px;
        padding-right: 3px;
    }
    #name,#email,#country
    {
        width:40%;
    }
    #subject
    {
        margin-left: 180px;
        margin-right: 50px;
        width:147px;
    }
    input[type=submit] {
        background-color: #ff2f20;
        margin-left: 200px;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      input[type=submit]:hover {
        background-color: #FF2F2F;
      }
      .fblock
      {
        display: inline;
        padding-left: 180px;
      }
} 
.container
{
    padding-left: 350px;
}
.container label
{
    color: #FF2F2F;
}
.sub1
{
    display: inline;
}