@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;  
}
.header
{
    width:100%;
    height:100%;
    background: rgb(46, 45, 45);
}
.pic
{
    border-radius: 50px;
}
.mimg
{
    padding-left: 10px;
}
.side_nav
{
    width: 250px;
    height: 100%;
    background-color: black;
    position: fixed;
    top:0;
    left:0;
    padding-right: 40px;
    padding-left: 30px;
    padding-top: 100px;
}
.nav_links
{
    list-style-type: none;
    position: relative;
}
.nav_links li{
    padding: 20px 0;
}
.nav_links li a{
    color:#FF2F2F;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav_links li a img{
    font-size: 22px;
    margin-right: 20px;
}
.active
{
    transition: top 0.3s;
    background-color: #f4e9e9;
    width: 100%;
    height: 47px;
    position: absolute;
    left:0;
    top:3%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255,255,255,0.4);
    display: none;
}
.nav_links li:hover a{
color: #FF2F2F;
transition: 0.3s;
}
.nav_links li:hover ~.active
{
    display: block;
}
.nav_links li:nth-child(1):hover ~ .active
{
    top: 3%;
}
.nav_links li:nth-child(2):hover ~ .active
{
    top: 23%;
}
.nav_links li:nth-child(3):hover ~ .active
{
    top: 43%;
}
.nav_links li:nth-child(4):hover ~ .active
{
    top: 63%;
}
.nav_links li:nth-child(5):hover ~ .active
{
    top: 83%;
}
.logo-m
{
    display: none;
}
@media only screen and (max-width: 576px) and (orientation:landscape)
{
    .side_nav
    {
        width: 110px;
        position: absolute;
        padding-top: 90px;
        padding-bottom: 184%;
        height: max-content;
    }
    .pic 
    {
        width:60px;
        height: 60px;
    }
    .nav_links li
    {
            padding-top: 40px;
    }
}
@media only screen and (max-width: 576px)
{
    .side_nav
    {
        width: 110px;
    }
    .nav_links li a p{
        display: none;
    }
    .mimg
    {
        padding-left: 0px;
    }
    .pic 
    {
        width:60px;
        height: 60px;
    }
    .nav_links li a img{
        margin-right: 0 ;
    }
    .nav_links li a{
        justify-content: center;
    }
    .cent{
        height: max;
    }
    .center {
        display: contents;
        font-size: 14px; 
        padding-left: 120px;
    }
    .center h2,.projects
    {
        padding-left: 120px;
    }
    .header
{
    width:100%;
    height:100%;
    background: rgb(46, 45, 45);
}
    .pimg,.pimg_1,.pimg_2,.port
    {
        height:30px;
        width: 30px;
    }
   .pimg 
    {
        display: contents;
    }
    .pimg p {
        padding-left: 20px;
        padding-top: 30px;
        font-size: 16px;
    }
    .pimg_1
    {
        display: contents;
    }
    .pimg_1 p {
        padding-left: 20px;
        padding-top: 30px;
        font-size: 16px;
    }
    .pimg_2
    {
        display: contents;
    }
    .pimg_2 p {
        padding-left: 20px;
        padding-top: 30px;
        font-size: 16px;
    }
} 
@media only screen and (max-width:768px) and (orientation:landscape)
{
    .side_nav
    {
        width: 110px;
        position: absolute;
        padding-top: 90px;
        padding-bottom: 184%;
        height: max-content;
    }
    .nav_links li
    {
            padding-top: 40px;
    }
    .pic 
    {
        width:60px;
        height: 60px;
    }
    .cent 
    {
        height: 90%;
    }
}
@media only screen and (width:740px) and (orientation:landscape)
{
    
    .side_nav
    {
        width: 210px;
        padding-bottom: 145%;
    }
    .pic 
    {
        width:60px;
        height: 60px;
    }
    .center h2,.projects
    {
        padding-left: 120px;
    }
}

@media only screen and (max-width:768px) 
{
    .side_nav
    {
        width: 110px;
    }
    .nav_links li a p{
        display: none;
    }
    .mimg
    {
        padding-left: 0px;
    }
    .pic 
    {
        width:60px;
        height: 60px;
    }
    .nav_links li a img{
        margin-right: 0 ;
    }
    .nav_links li a{
        justify-content: center;
    }
    .cent{
        height: 100%;
    }
    .center {
        display: contents;
        font-size: 24px; 
        padding-left: 120px;
    }
    .center h2,.projects
    {
        padding-left: 120px;
    }
    .header
{
    width:100%;
    height:100%;
    background: rgb(46, 45, 45);
}
    .pimg,.pimg_1,.pimg_2,.port
    {
        height:30px;
        width: 30px;
    }
   .pimg 
    {
        display: contents;
    }
    .pimg p {
        padding-left: 20px;
        padding-top: 30px;
        font-size: 26px;
    }
    .pimg_1
    {
        display: contents;
    }
    .pimg_1 p {
        padding-left: 20px;
        padding-top: 30px;
        font-size: 26px;
    }
    .pimg_2
    {
        display: contents;
    }
    .pimg_2 p {
        padding-left: 20px;
        padding-top: 30px;
        font-size: 26px;
    }
}
@media only screen and (min-width:320px) and (max-width:480px)
{
    .side_nav
    {
        width: 110px;
    }
    .nav_links li a p{
        display: none;
    }
    .mimg
    {
        padding-left: 0px;
    }
    .pic 
    {
        width:60px;
        height: 60px;
    }
    .nav_links li a img{
        margin-right: 0 ;
    }
    .nav_links li a{
        justify-content: center;
    }
    .cent{
        height: 100%;
    }
    .center {
        display: contents;
        font-size: 20px; 
        padding-left: 120px;
    }
    .center h2,.projects
    {
        padding-left: 120px;
    }
    .header
{
    width:100%;
    height:100%;
    background: rgb(46, 45, 45);
}
    .pimg,.pimg_1,.pimg_2,.port
    {
        height:30px;
        width: 30px;
    }
   .pimg 
    {
        display: contents;
    }
    .pimg p {
        padding-left: 20px;
        padding-top: 30px;
        font-size: 20px;
    }
    .pimg_1
    {
        display: contents;
    }
    .pimg_1 p {
        padding-left: 20px;
        padding-top: 30px;
        font-size: 20px;
    }
    .pimg_2
    {
        display: contents;
    }
    .pimg_2 p {
        padding-left: 20px;
        padding-top: 30px;
        font-size: 20px;
    }
}
@media only screen and (width:844px) and (orientation:landscape)
{
    .side_nav
{

    position: absolute;
    padding-top: 90px;
    padding-bottom: 82%;
    height: max-content;
}
.pic 
{
    width:60px;
    height: 60px;
}
.nav_links li
{
        padding-top: 40px;
}
.cent 
{
    background-color: rgb(46, 45, 45);
    height: max-content;
}
}
@media only screen and (min-width:896px) and (max-width:913px) and (orientation:landscape)
{
.side_nav
{

    position: absolute;
    padding-top: 90px;
    padding-bottom: 72%;
    height: max-content;
}
.pic 
{
    width:60px;
    height: 60px;
}
.nav_links li
{
        padding-top: 40px;
}
.cent 
{
    background-color: rgb(46, 45, 45);
    height: max-content;
}
}
@media only screen and (width:896px) and (orientation:landscape)
{
    .side_nav
    {
        padding-top: 90px;
        padding-bottom: 85%;
        height: max-content;
    }  
    .pic 
    {
        width:60px;
        height: 60px;
    }
}
@media only screen and (width:914px) and (orientation:landscape)
{
    .side_nav
    {
        padding-top: 90px;
        padding-bottom: 85%;
        height: max-content;
    } 
    .pic 
    {
        width:60px;
        height: 60px;
    }
}
@media only screen and (width:851px) and (orientation:landscape)
{
    .side_nav
    {
    
        position: absolute;
        padding-bottom: 95%;
        height: max-content;
    } 
    .pic 
    {
        width:60px;
        height: 60px;
    } 
}
@media only screen and (width:1180px) and (orientation:landscape)
{
    .cent{
        height: 100%;
        padding-bottom:59%;
    }
    .pic 
    {
        width:60px;
        height: 60px;
    }
}
@media only screen and (width:720px) and (orientation:landscape)
{
    .cent{
        height: 100%;
        padding-bottom:39%;
    }
    .pic 
    {
        width:60px;
        height: 60px;
    }
}
@media only screen and (width:1024px) and (orientation:landscape)
{
    .cent{
        height: 100%;
        padding-bottom:44%;
    }
    .pic 
    {
        width:60px;
        height: 60px;
    }
}
@media only screen and (width:1368px) and (orientation:landscape)
{
    .cent{
    
        padding-bottom:8%;
    }
    .pic 
    {
        width:60px;
        height: 60px;
    }
    .side_nav
    {
    
        position: absolute;
        padding-top: 90px;
        padding-bottom: 25%;
        height: max-content;
    }  
}
@media only screen and (width:851px) and (orientation:landscape)
{
    .cent{
    
        padding-bottom:8%;
    }
    .pic 
    {
        width:60px;
        height: 60px;
    }
    .side_nav
    {
    
        position: absolute;
        padding-top: 90px;
        padding-bottom: 25%;
        height: max-content;
    }  
}
@media only screen and (min-width:852px) and (max-width:895px) and (orientation:landscape)
{
    .cent{
        height: 100%;
        padding-bottom:13%;
    }
    .center {
        display: contents;
        font-size: 20px; 
        padding-left: 120px;
    }
    .pic 
    {
        width:60px;
        height: 60px;
    }
    .center h2,.projects
    {
        padding-left: 300px;
    }
    .header
{
    width:100%;
    height:100%;
    background: rgb(46, 45, 45);
}
    .pimg,.pimg_1,.pimg_2,.port
    {
        height:30px;
        width: 30px;
    }
   .pimg 
    {
        display: contents;
    }
    .pimg p {
        padding-left: 20px;
        padding-top: 30px;
        font-size: 20px;
    }
    .pimg_1
    {
        display: contents;
    }
    .pimg_1 p {
        padding-left: 20px;
        padding-top: 30px;
        font-size: 20px;
    }
    .pimg_2
    {
        display: contents;
    }
    .pimg_2 p {
        padding-left: 20px;
        padding-top: 30px;
        font-size: 20px;
    }
}
@media only screen and (min-width:820px) and (max-width:1180px) 
{
    .cent{
        height: 100%;
        background-color: rgb(46, 45, 45);
    }
    .center {
        display: contents;
        font-size: 20px; 
        padding-left: 120px;
        padding-bottom:;
    }
    .center h2,.projects
    {
        padding-left: 300px;
    }
    .header
{
    width:100%;
    height:100%;
    background: rgb(46, 45, 45);
}
    .pimg,.pimg_1,.pimg_2,.port
    {
        height:30px;
        width: 30px;
    }
   .pimg 
    {
        display: contents;
    }
    .pimg p {
        padding-left: 20px;
        padding-top: 30px;
        font-size: 20px;
    }
    .pimg_1
    {
        display: contents;
    }
    .pimg_1 p {
        padding-left: 20px;
        padding-top: 30px;
        font-size: 20px;
    }
    .pimg_2
    {
        display: contents;
    }
    .pimg_2 p {
        padding-left: 20px;
        padding-top: 30px;
        font-size: 20px;
    }
}
.center
{
    padding-left: 450px;
    height:100%;
    width: 100%;
    background:rgb(46, 45, 45);
}
.center h2
{
    padding-top: 40px;
}
.projects{
    overflow: hidden;
    margin:0 auto;
}
.projects li
{
    list-style-type: none;
}
.projects h3
{
    color:#aba4a4;
    font-size: 16px;
}
.pimg h3
{
    padding-left: 0px;
}
.porti
{
    padding-left: 180px;
}
.img1,.img2,.img3,.img4
{
    cursor: pointer;
}
.pimg h4 p ,.pimg_1 h4 p,.pimg_2 h4 p
{
    padding-right: 90px;
}